@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@model ICollection<Contragent>
@{
    ViewData["Title"] = "ShowAll";
}

<h2>Showing all contragents </h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Contragent name</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var cont in Model)
        {
            <tr>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Contragent" asp-action="Details" asp-route-id="@cont.Id">@cont.Name</a>

                </td>
            </tr>
        }
    </tbody>
</table>