
<h1>Register</h1>


<form method="post">

    <div>First name:</div>
    <div><input type="text" name="firstName" /></div>

    <div>Last name:</div>
    <div><input type="text" name="lastName" /></div>

    <div>Email:</div>
    <div><input type="text" name="email" /></div>

    <div>User name:</div>
    <div><input type="text" name="userName" value="" /></div>

    <div>Password:</div>
    <div><input type="password" name="password" value="" /></div>

    <input type="submit" value="Register" />
</form>


